@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
        /* initialize */
        * {
            margin: 0;
            padding: 0;
            border: 0;
        }

        ul, ol {list-style: none;}
        a {text-decoration: none; color :#111;}
        body {
            font-family: 'Nanum Gothic', sans-serif;
            font-size: 12px;
            font-weight: normal;
            color: #555;
        }

        #wrapper {
            width: 100%;
            min-width: 980px;
            height: auto;
        }
        /* top-banner */
        #top-banner {
            width: 100%;
            height: 80px;
            background: #00a4e3;
        }
        #top-banner > div {
            position: relative;
            width: 980px;
            height: 100%;
            margin: 0 auto;   
        }
        #top-banner > div > a.close {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        
        

        /* header */
        header{
            width: 100%;
            height: auto;
            box-sizing: border-box;
        }
        header > div {
            width: 100%;
        }
        header > div > article {
            width: 980px;
            height: 100%;
            margin: 0 auto;
        }
        header > .service {
            height: 30px;
            background: #efebdb;
        }
        header > .service article {
            padding-top: 6px;
            box-sizing: border-box;
        }
        header > .service p:nth-child(1) {float: left;}
        header > .service p:nth-child(2) {float: right;}

        header > .service p > a {}

        header > .service p:nth-child(1) > a {
            font-weight: 600;
            color: #555;
            margin-right: 16px;
        }
        header > .service p:nth-child(1) > a::before {
            background-image: url('../img/ico_service.png');
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 6px;
            margin-bottom: -4px;
        }

        header > .service p:nth-child(1) > a:nth-child(1)::before {background-position: 0px;} 
        header > .service p:nth-child(1) > a:nth-child(2)::before {background-position: -16px;} 
        header > .service p:nth-child(1) > a:nth-child(3)::before {width: 20px; background-position: -32px;} 

        header > .service p:nth-child(2) > a {
            color: #6f6247;
            font-size: 12px;
            margin-left: 16px;
        }
        header > .service p:nth-child(2) > a:hover {
            border-bottom: 1px solid #9d9580;
        }
        header > .logo {
            height: 80px;
        }
        header > .logo > article {
            position: relative;
        }
        header > .logo > article > a {
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -283px;
        }
        
        header > .gnb {
            width: 100%;
            height: 72px;
            border-top: 2px solid #cdc197;
            border-bottom: 1px solid #e9e4d2;
            box-sizing: border-box;
        }
        header > .gnb ul {
            display: inline-block;
            width: 100%;
            height: auto;
            margin-top: 26px;
        }
        header > .gnb ul > li {
            float: left;
            width: 16.66%;
            height: 16px;
            border-right: 1px solid #dedede;
            box-sizing: border-box;
        }
        header > .gnb ul > li:last-child {border: none;}

        header > .gnb ul > li > a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 16px;
            color: #555;
            text-align: center;
        }
        /* main */
        main {
            width: 100%;
            height: auto;
        }

        main > div {
            width: 100%;
            box-sizing: border-box;
        }
        main > .slider {
            height: 645px;
        }
        main > div > article {
            width: 980px;
            height: 100%;
            border: 1px solid orange;
            margin: 0 auto;
        }
        main > .slider > div {
            width: 1450px;
            height: 100%;
            margin: 0 auto;
        }
        .slider > div > ul > li > img {
            float: left;
        }


        .box-office {
            float: right;
            width: 315px;
            height: 645px;
        }

        .box-office > a {
            display: inline-block;
            position: absolute;
            width: 315px;
            height: 64px;
            background: #ee1c25;
            color: #ffffff;
            font-size: 16px;
            text-align: center;
            padding-top: 25px;
            box-sizing: border-box;
        }
        .box-office > ul {
            height: 398px;
            padding-top: 30px;
        }

        .box-office > ul > li {
            position: relative;
            width: 315px;
            height: 54px;
            padding: 11px 10px 0px;
            box-sizing: border-box;
        }
        .box-office > ul > li > a {
            display: inline-block;
            position: relative;
            width: 193px;
            height: 30px;
            padding-left: 5px;
            box-sizing: border-box;
        }
        .box-office > ul > li > span {
            float: right;
            position: absolute;
            top: 20px;
            color: #666666;
            font-size: 13px;
            padding-right: 20px;
            box-sizing: border-box;
        }

        .rank {
            position: absolute;
            top: 0px; left: 5px;
            color: #1a1917;
            font-family: linlivertine;
            font-style: italic;
            font-weight: bold;
            font-size: 20px;
            padding: 0px 5px; 
            box-sizing: border-box;
        }
        
        .grade {
            position: absolute;
            display: inline-block;
            overflow: hidden;
            top: 6px; left: 33px;
            background-image: url('../img/sprite_bg_grade.png');
            font-size: 0;
            width: 20px;
            height: 20px;
        }
        .gradeAll {background-position: 0px;}
        .grade12 {background-position: -21px;}
        .grade15 {background-position: -42px;}
        .grade18 {background-position: -63px;}
        .grade19 {background-position: -84px;}

        .tit {
            position: absolute;
            top: 7px; left: 57px;
            color: #1a1917;
            font-size: 14px;
            font-weight: bold;
        }

        .top {
            position: relative;
            width: 315px;
            height: 153px;
            box-sizing: border-box;
            background: #2a2e33;
        }
        .top > img {
            position: absolute;
            top: 50px;
            left: 55px;
        }
        .top > .tab {
            position: absolute;
            top: 95px;
            left: 105px;
            color: #555555;
        }
        .top a {
            color: #ffffff;
            font-size: 14px;
        }
        .tab > span {
            padding-right: 10px;
            padding-left: 10px;
            box-sizing: border-box;
        }

        .on {
            border-bottom: 1px solid #7f8285;
        }
            

        main > .poster {
            height: 274px;
            margin: 70px 0;
        }
        main > .poster ul {
            overflow: hidden;
        }
        main > .poster ul li {
            float: left;
            margin-left: 10px;
        }
        main > .poster ul li:first-child {margin: 0;}

        main > .sponsor {
            height: 88px;
        }
        main > .event {
            height: 865px;
        }
        main > .quick {
            height: 260px;
        }
        main > .notice {
            height: 60px;
        }

        

        /* footer */
        footer{
            width: 100%;
            height: auto;
            border: 1px solid #dedede;
            box-sizing: border-box;
        }
        footer > div {
            width: 100%;
        }
        footer > div > article {
            width: 980px;
            height: 100%;
            margin: 0 auto;
        }
        footer > .banner {
            height: 196px;
            margin-top: 64px;
            background-color: rgb(0, 92, 185);
            text-align: center;
        }
        footer > .banner a {
            display: inline-block;
            margin-top: -44px;
        }

        footer > .content {
            height: 205px;
        }
        footer .logo {
            height: 46px;
            margin-top: 20px;
        }
        footer > .content p {
            color: #666;
            font-size: 12px;
            line-height: 24px;
            margin-top: 24px;
        }
        footer > .content p > a {
            font-size: 13px;
            font-weight: normal;
            color: #231f20;
        }

        footer > .award {
            height: 78px;
            background: #f5f5f5;
        }
        footer > .award > article > img {
            margin-right: 7px;
            margin-top: 17px;
        }
